body {
      font-family: 'Open Sans Condensed';
}

a {
      text-decoration: none;
      color: black;
}

* {
      /* Hace que las medidas no cuenten los bordes paddings y margins */
      box-sizing: border-box;
}